.style-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.style-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 4px;
}

.style-scrollbar::-webkit-scrollbar-track {
  background: #cfcaca;
}
